body {
  background-image: url('lights.jpg');
  background-size: cover;
  font-family: 'Raleway', serif;
  font-size: 20px;
}

div {
  text-align: center;
  vertical-align: middle;
  margin: auto;
  width: 400px;
  height: 500px;
  background-color: #fffbbf6e;
  background-size: 100px 100px
}